@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;1,100;1,200&family=Montserrat:ital,wght@0,100;0,400;1,400;1,700&family=Roboto+Condensed:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw; 
  height: 100vw;
  background-color: darkslategray;
  color:aliceblue;
}

.main{
    color: blanchedalmond
}